.f-nav{ background-color: lightcoral;
display: flex;
justify-content: center;
justify-content: space-around;
width: 99%;
padding: 22px;}

.feature{ display: flex;}

.feature .app{ display: flex;
margin-inline: 22px;
align-content: center;}

.f-nav p{ font-size: 30px; font-weight: 800; text-transform:capitalize ;}

i{ margin-top: 39px; margin-right: 5px; color: aliceblue; font-size:21px;
}

.snav{  background-color: rgb(15, 72, 119);

display: flex;
height: 70px; 
width: 99%;
justify-content: center;
display: inline;}

img{ width: 150px;}

li{ list-style: none;
align-content: center;}

.nayaka{ box-shadow: 0px 2px 3px black;
justify-content: space-between;

background-color: aliceblue;}

a{ text-decoration: none;
margin-left: 20px; font-size: 20px;}