.f-nav{ background-color: lightcoral;
display: flex;
justify-content: center;
justify-content: space-around;
width: 90%;
padding: 22px;}

.feature{ display: flex;}

.feature .app{ display: flex;
margin-inline: 22px;
align-content: center;}


i{ margin-top: 18px;
}

.snav{  background-color: rgb(15, 72, 119);

display: flex;
height: 70px; 
width: 99%;
justify-content: center;
display: inline;}

img{ width: 150px;}

li{ list-style: none;
align-content: center;}

.nayaka{ box-shadow: 0px 2px 3px black;
justify-content: space-between;

background-color: aliceblue;}