/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px){ 
    .text-3,.m-text ,.text-4{ flex-direction: column;
    text-align: center; align-items: center;}

.wrapper-2{ flex-direction: column; text-align: center;}

.All-img,.img-1,.round{ flex-direction: column; align-items:center ;
margin-left: 0px; }

.img-3 img{ flex-direction:column; align-items: center; position: relative; top: -100px; right:50px; }

.text-5 h2 p { flex-direction: column; text-align:center; }

}
