/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)  { .header{ flex-direction: column; align-items: center;}

.wrapper-2,.image-1,.image-2{ flex-direction: column; align-items: center;}

.wrapper-3, .all-cards,.card img{flex-direction: column; align-items: center;  margin: 0;}



.card{ flex-direction: column; align-items: center;
position: relative;right: 100px;}

.h-3-h,.h-3-p{ margin-left: 100px;}

.b-3{ margin: 30px 0px 50px 100px;}

.text-4,.img-4{ flex-direction: column; align-items: center;}

.div-5,.text-5, .form{ flex-direction: column; align-items: center;}

#ppl{ margin: 100px 0px 0px 20px;}

.ftr-1,.ftr-2,.s-m,.img-2-6,.img-3-6{ flex-direction: column; align-items: center;}
}

/* / Small devices (landscape phones, less than 768px)/ */
@media (max-width: 767.98px) { .header,.wrapper-2,.image-1,.image-2,.wrapper-3{flex-direction: column; align-items: center; }

.all-cards,.card img{ flex-direction: column; align-items: center; }

.h-3-h,.h-3-p{ margin-left: 100px;}

.b-3{ margin: 30px 0px 50px 100px;}
}