/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)  { .header{ flex-direction: column; align-items: center;}

.wrapper-2,.image-1,.image-2{ flex-direction: column; align-items: center;}

.wrapper-3, .all-cards,.card img{flex-direction: column; align-items: center;  margin: 0;}



.card{ flex-direction: column; align-items: center;
position: relative;right: 100px;}

.h-3-h,.h-3-p{ margin-left: 100px;}

.b-3{ margin: 30px 0px 50px 100px;}

.text-4,.img-4{ flex-direction: column; align-items: center;}

.div-5,.text-5, .form{ flex-direction: column; align-items: center;}

#ppl{ margin: 100px 0px 0px 20px;}

.ftr-1,.ftr-2,.s-m,.img-2-6,.img-3-6{ flex-direction: column; align-items: center;}
}

/* / Small devices (landscape phones, less than 768px)/ */
@media (max-width: 767.98px) {*{flex-direction: column; align-items: center; margin: 0; }





.card{ flex-direction: column; align-items: center;
position: relative;right: 100px;}

.h-3-h,.h-3-p{ margin-left: 100px;}

.b-3{ margin: 30px 0px 50px 100px;}


#ppl{ margin: 100px 0px 0px 20px;}

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {*{ flex-direction: row; align-items: center;}

#header1{ width:1350px;}

.sec-2{ width: 1350px;}

.sec-3{ width: 1350px;}

.sec-4{ width: 1350px;}
footer{ width: 1350px;}

.icon{position: relative; right: 150px;}

.div-5{ width: 1350px;}}


/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {*{ flex-direction: row; align-items: center;}

#header1{ width:1350px;}

.sec-2{ width: 1350px;}

.sec-3{ width: 1350px;}

.sec-4{ width: 1350px;}
footer{ width: 1350px;}

.icon{position: relative; right: 150px;}

.div-5{ width: 1350px;} }







