body{ background-image: url(../websites/wp9443719.jpg );
   background-repeat: no-repeat;
   background-size:100%;
    margin: 0 ;
    padding: 0;}


   .nav-bar{
width: 100%;
height: 50px;
background-color:black;
display: flex;
padding-left: 1200px;
font-size: large;
padding-top: 2rem;






   } 

   a{color: aliceblue;
   word-spacing: 10px;
padding: 5px 10px 5px 10px;}



   .font{
      word-spacing: 25px;
      text-align: justify;
      align-self: self-start;
   }


   h4{color: aliceblue;
   display: flex;
   margin: 0 auto;
   border: 2px solid white;
   width: 50px; height: auto;
   border-spacing: 5px;
   margin: 20px;
 

   
}
   h1{font-size: 150px;
   color: aliceblue;
margin-left: 500px;
}

h3{color: aliceblue; font-weight: 800;
   margin-left: 550px;
background-color:black 

}

.search{ font-size: 150; color: aliceblue;
margin-left: 550px; 
}

input{width: 550px; height: 70px;}


i{width:50px; height: 50px; color: black; border: 0.5px transparent red;
border-width: 20px; height: 42px; text-align: center; margin-top: 30px;}

p{font-size: 30px;}